.site__container {
  min-height: 100vh;
  background: #f1f5f9;
}

.MuiTouchRipple-root {
  border-radius: 0 !important;
}

.store__dashboard .account_menu .MuiAvatar-root {
  margin-right: 5px;
}
.store__dashboard .account_menu .account-menu-btn {
  margin-top: 5px;
}
.store__dashboard .account_menu .account-menu-btn p {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}
.store__dashboard .account_menu .account-menu-btn p span {
  font-size: 12px;
  font-weight: 300;
  display: block;
  margin: 0px 0 -5px 0;
}
.store__dashboard .account_menu .account-menu-btn:hover {
  background: transparent;
}

.site__container .welcome__text {
  color: #040033;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 38px;
}
.site__container .welcome__text span {
  color: #0080ff;
}

.site__container .theme-btn {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 35px;
  min-width: 150px;
  letter-spacing: 1px;
  border-radius: 100px;
  background: #040033;
}
.site__container .theme-btn.button-link {
  color: #777;
  text-align: left;
  background: transparent;
}

.site__container .store-card {
  color: #040033;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 25px 5px 20px;
  border-radius: 10px;
  background: #e0e0e0;
  border: 2px solid #d8d8d8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
}
.site__container .store-card .store-name {
  font-size: 15px;
  font-weight: 600;
}
.site__container .store-card .store-address {
  color: #676767;
  font-size: 12px;
  font-weight: 500;
  margin: 30px 0 0;
}
.site__container .store-card:hover {
  border-color: #040033;
}

.day-label {
  color: #858585;
  font-size: 12px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.slotBlock {
  margin-bottom: 8px;
}
.slotBlock .MuiTextField-root {
  width: calc(100% - 32px);
}
.slotBlock .removeBtn {
  padding: 0;
  border: 0;
  background: transparent;
}
.slotBlock .removeBtn svg {
  color: red;
  margin: 7px 0 0;
}

.adm-page-title {
  color: #4b4b4b;
  font-size: 18px !important;
  font-weight: 600 !important;
  display: block;
  margin: 0 0 25px !important;
}

.menu--tab .tab-title {
  color: #4b4b4b;
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 15px;
}
.menu--tab .menu-tab {
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
  border-bottom: 1px solid #ebebeb;
}
.menu--tab .menu-tab li {
  display: inline-block;
}
.menu--tab .menu-tab li a {
  color: #4b4b4b;
  font-size: 13px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 10px 30px 12px;
}
.menu--tab .menu-tab li:nth-child(1) a {
  padding-left: 0;
}

.store__dashboard tbody tr td {
  padding: 5px 16px !important;
}
.store__dashboard tbody tr td .status_sign {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 100px;
  background: #ccc;
}
.store__dashboard tbody tr td .status_sign.completed {
  background: #00ba07;
}
.store__dashboard tbody tr td .status_sign.rejected {
  background: #f00;
}

.welcome_wrap {
  padding: 5vh 0;
}
.welcome_wrap .map_warp {
  display: flex;
  float: right;
  padding: 15px 20px;
  align-items: center;
  border-radius: 15px;
  background: #040033;
}

.login_page .login_container {
  min-height: 95vh;
  align-items: center;
  z-index: 5;
  position: relative;
  font-family: Poppins;
}
.login_page .login_container .form-group {
  font-family: Poppins;
}
.login_page .login_container .form-group .MuiSwitch-root {
  margin: -7px 0 10px -8px;
}
.login_page::after {
  content: "";
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  position: absolute;
  background: #040033;
}
.login_page h2 {
  color: #040033;
  font-size: 35px !important;
  font-weight: 500 !important;
  margin: 0 0 2px !important;
}
.login_page .body-intro {
  color: #b6b6b6;
  margin-bottom: 20px;
}
.login_page .brand-logo {
  height: 38px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.login_page .MuiOutlinedInput-root {
  margin-bottom: 20px;
}
.login_page .button-link {
  color: #9f9f9f !important;
  text-align: center !important;
  padding: 12px 0;
  display: block;
  margin-top: 5px;
  text-transform: uppercase;
}
.login_page .button-link .reset-link {
  font-size: 10px;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: left !important;
}

.site__container .store_profile .date_picker {
  padding-top: 15vh;
}
.site__container .store_profile .date_picker .form-group {
  flex-direction: row;
  margin-bottom: 20px;
}
.site__container .store_profile .date_picker .form-group .prefixes {
  width: 120px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  float: left;
  margin: 18px 25px 0 0;
}
.site__container .store_profile .date_picker .form-group .suffixes {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  float: left;
  margin: 18px 0 0 25px;
}
.site__container .store_profile .date_picker .form-group.child_counter .MuiTextField-root {
  width: 150px;
}
.site__container .store_profile .button-row {
  margin-top: 58px;
}
.site__container .store_profile .button-row .theme-btn {
  float: right;
  margin-right: 5%;
}
.site__container .store_profile .button-row .theme-btn.button-link {
  float: left;
}
.site__container .store_profile .picked_date {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 22px;
  border-left: 4px solid #040033;
}
.site__container .store_profile .picked_date span {
  font-size: 30px;
  line-height: 1;
  display: block;
}
.site__container .store_profile .session_title {
  color: #8e8e8e;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.site__container .store_profile .slot_label {
  text-align: center;
  width: 100%;
  display: block;
  padding: 12px 0;
  margin-left: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.site__container .store_profile .slot_label .MuiCheckbox-colorPrimary {
  display: none;
}
.site__container .store_profile .loading_wrap {
  height: 100%;
  display: flex;
  align-items: center;
}
.site__container .slot_wrap {
  text-align: center;
  padding: 5px 0;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #dddddd;
}
.site__container .slot_wrap p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: -24px;
}
.site__container .slot_wrap .slot_block {
  width: 170px;
  margin: 0;
  padding: 18px 0 0;
}
.site__container .slot_grid {
  padding-top: 5px !important;
}
.site__container .slot_grid .slot_block {
  width: 180px;
  display: block;
  margin: 7px auto 0;
  position: relative;
}
.site__container .slot_grid .slot_block .MuiCheckbox-root {
  top: -4px;
  left: 2px;
  padding: 0;
  position: absolute;
}
.site__container .slot_grid .slot_block .ft_block {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  display: inline-block;
  background: #040033;
}
.site__container .slot_grid .slot_block .ft_block.booked {
  opacity: 0.5;
}

.site__container .submission_page {
  padding-top: 5vh;
}
.site__container .submission_page .button-row {
  margin-bottom: 25px;
}
.site__container .submission_page .MuiInputBase-formControl {
  margin-bottom: 20px;
}
.site__container .submission_page .summery_block {
  display: block;
  width: 100%;
  padding: 28px 28px 10px;
  border-radius: 10px;
  border: 2px solid #040033;
}
.site__container .submission_page .summery_block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site__container .submission_page .summery_block ul li {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
}
.site__container .submission_page .backBtn {
  display: block;
  margin: 10px auto 0;
}

.thank_you-message {
  width: 50%;
  text-align: center;
  display: block;
  margin: 12% auto 0;
}
.thank_you-message .msg-box {
  padding: 25px 35px 30px;
  border-radius: 10px;
  border: 2px solid #ccc;
}
.thank_you-message .msg-box .thnk-title {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.thank_you-message .msg-box .appoint_no {
  font-size: 30px;
  font-weight: 600;
  display: inline-block;
  padding: 0 30px;
  margin: 15px 0 0;
  border-radius: 5px;
  background: #e5e5e5;
  border: 2px solid #ccc;
}/*# sourceMappingURL=styles.css.map */