.site__container {
  .theme-btn {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 12px 35px;
    min-width: 150px;
    letter-spacing: 1px;
    border-radius: 100px;
    background: $primaryColor;
    &.button-link {
      color: #777;
      text-align: left;
      background: transparent;
    }
  }
}