.login_page{
  .login_container {
    min-height: 95vh;
    align-items: center;
    z-index: 5;
    position: relative;
    font-family: Poppins;
    .form-group {
      font-family: Poppins;
      .MuiSwitch-root {
        margin: -7px 0 10px -8px;
      }
    }
  }
  &::after {
    content: '';
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
    background: $primaryColor;
  }
  h2 {
    color: $primaryColor;
    font-size: 35px !important;
    font-weight: 500 !important;
    margin: 0 0 2px !important;
  }
  .body-intro {
    color: #b6b6b6;
    margin-bottom: 20px;
  }
  .brand-logo {
    height: 38px;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .MuiOutlinedInput-root {
    margin-bottom: 20px;
  }
}